{% load static %}
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "styles/bootstrap4/popper.js" %}"></script>
<script src="{% static "styles/bootstrap4/bootstrap.min.js" %}"></script>
<script src="{% static "plugins/OwlCarousel2-2.2.1/owl.carousel.js" %}"></script>
<script src="{% static "plugins/Isotope/isotope.pkgd.min.js" %}"></script>
<script src="{% static "plugins/scrollTo/jquery.scrollTo.min.js" %}"></script>
<script src="{% static "plugins/easing/easing.js" %}"></script>
<script src="{% static "plugins/parallax-js-master/parallax.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>